* {
  outline: none;
}

html,
body {
  background-color: $white;
}

.container {
  margin-left: 20px;
  margin-right: 20px;
}

.padding-container {
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
}

.hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  width: 1px;
  height: 1px;
  word-wrap: normal;
  opacity: 0;
}

.desktop,
.tablet {
  display: none !important;
}

.top-header-distance {
  padding-top: 92px;
}

label {
  font-size: 14px;
  color: $white;
  margin: 0 0 8px;
  display: block;
  font-weight: 500;
}

input,
textarea {
  display: block;
  padding: 8px;
  border: 1px solid $light-grey;
  font-size: 14px;
  background-color: $white;
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  font-family: $montserrat;
  width: 100%;
  margin-bottom: 8px;
}

textarea {
  resize: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style: none;
}

.slick-initialized  .slick-track{
  display: flex;

  .slick-slide{
      display: flex;
      height: auto;
      flex-direction: column;
      align-items: stretch;
      justify-content: flex-start;
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  z-index: 50;
}

picture {
  display: block;
  position: relative;
  overflow: hidden;
  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    &.cover {
      object-fit: cover;
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .container {
    margin-left: 40px;
    margin-right: 40px;
  }
  .padding-container {
    padding-left: 40px;
    padding-right: 40px;
  }

  .mobile {
    display: none !important;
  }

  .tablet {
    display: initial !important;
  }
}

@media (min-width: $breakpoint-desktop) {
  .container {
    margin-left: 100px;
    margin-right: 100px;
  }
  .padding-container {
    padding-left: 100px;
    padding-right: 100px;
  }

  .tablet {
    display: none !important;
  }

  .desktop {
    display: initial !important;
  }

  input,
  textarea {
    padding: 14px 30px;
  }
}

@media (min-width: $breakpoint-desktop-wide) {
  .container {
    margin-left: calc((100% - 1400px) / 2);
    margin-right: calc((100% - 1400px) / 2);
  }
  .padding-container {
    padding-left: calc((100% - 1400px) / 2);
    padding-right: calc((100% - 1400px) / 2);
  }
}
