@font-face {
  font-family: "Montserrat";
  src: url("#{$font-path}/Montserrat-Regular.woff2") format("woff2"),
    url("#{$font-path}/Montserrat-Regular.ttf") format("truetype");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("#{$font-path}/Montserrat-SemiBold.woff2") format("woff2"),
    url("#{$font-path}/Montserrat-SemiBold.ttf") format("truetype");
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: "Montserrat";
  src: url("#{$font-path}/Montserrat-Bold.woff2") format("woff2"),
    url("#{$font-path}/Montserrat-Bold.ttf") format("truetype");
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: "Inter";
  src: url("#{$font-path}/Inter-Regular.woff2") format("woff2"),
    url("#{$font-path}/Inter-Regular.ttf") format("truetype");
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: url("#{$font-path}/Inter-SemiBold.woff2") format("woff2"),
    url("#{$font-path}/Inter-SemiBold.ttf") format("truetype");
  font-display: swap;
  font-weight: 500;
}

@font-face {
  font-family: "Inter";
  src: url("#{$font-path}/Inter-Bold.woff2") format("woff2"),
    url("#{$font-path}/Inter-Bold.ttf") format("truetype");
  font-display: swap;
  font-weight: 600;
}

html,
body {
  font-size: 16px;
  font-family: $inter;
  color: $white;
  line-height: 1.75;
}

strong {
  font-weight: 500;
}

h1, h2, h3 {
  line-height: 1.25;
  font-family: $montserrat;
}