.button,
.wp-block-button__link {
  display: block;
  width: max-content;
  box-sizing: border-box;
  text-decoration: none;
  transition: 150ms linear;
  color: $white;
  font-family: $inter;
  font-weight: 500;
  line-height: 1;
  cursor: pointer;
  &.primary {
    padding: 12px 23px;
    background-color: $primary-red;
    border-style: solid;
    border-width: 1px;
    border-radius: 30px;
    border-color: $primary-red;
    text-align: center;
    &:hover {
      background-color: $white;
      color: $primary-red;
    }
  }
  &.secondary {
    padding: 8px 0;
  }
  &:disabled {
    opacity: 0.5;
  }
}