footer {
  background-color: $primary-dark;
  text-align: center;
  padding-top: 58px;
  padding-bottom: 58px;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: calc(100% - 40px);
    height: 1px;
    background-color: $white;
    transform: translateX(-50%);
  }
  > svg {
    width: 130px;
    height: 40px;
    margin-bottom: 56px;
  }
  .social-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 56px;
    a {
      display: inline-block;
      text-decoration: none;
      &:not(:last-child) {
        margin-right: 24px;
      }
      svg {
        height: 32px;
      }
    }
  }
  .footer-end-wrapper {
    font-size: 12px;
    p {
      margin: 0;
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  footer {
    padding-top: 64px;
    padding-bottom: 64px;
    display: flex;
    justify-content: space-between;
    >svg {
        margin-bottom: 0;
    }
    .social-wrapper {
        order: 2;
        margin-bottom: 0;
    }
    .footer-end-wrapper {
        order: 1;
        display: flex;
        align-items: center;
          p:first-child {
            position: relative;
            padding-right: 30px;
            &::after {
                content: "-";
                line-height: 0;
                position: absolute;
                top: 50%;
                right: 15px;
                transform: translate(50%, -50%);
            }
         }
    }
  }
}
