header {
  .header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 92px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 23px;
    padding-top: 23px;
    background-color: transparent;
    z-index: 40;
    transition: background-color 150ms linear;

    &.dark {
      background-color: $primary-dark;
    }
    &.hide {
      display: none;
    }

    .menu-button {
      height: 48px;
      width: 48px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      border: none;
      cursor: pointer;

      .menu-part {
        display: block;
        width: 24px;
        height: 2px;
        transition: 150ms linear;
        background-color: $white;
        border-radius: 2px;

        &:first-child {
          transform: translatey(-4px);
        }

        &:last-child {
          transform: translatey(4px);
        }
      }
    }
    svg {
      margin: 0;
      @include sizes(46px, 130px);
    }
  }
  .menu-wrapper {
    background-color: $white;
    position: fixed;
    z-index: 30;
    top: 92px;
    left: 0;
    height: calc(100% - 78px);
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: 150ms linear;
    transform: translateX(-100%);
    .header-menu {
      ul {
        li {
          a {
            display: block;
            color: $primary-dark;
            &:hover {
              color: $black;
            }
          }
        }
      }
    }
  }

  &.is-active {
    .header {
      background-color: $primary-dark;
      .menu-button {
        .menu-part {
          &:first-child {
            transform: translatey(2px) rotate(-45deg);
          }

          &:nth-child(2) {
            opacity: 0;
          }

          &:last-child {
            transform: translatey(-2px) rotate(45deg);
          }
        }
      }
    }

    .menu-wrapper {
      transform: translateY(0);
    }
  }

  .header-menu {
    ul {
      list-style: none;
      li {
        a {
          padding: 10px 0;
          text-decoration: none;
          transition: color 150ms linear;
          color: $white;
          font-weight: 500;
        }
      }
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  header {
    .header {
      .header-menu {
        ul {
          display: flex;
          li {
            a {
              padding: 10px 15px;
            }
          }
        }
      }
    }
  }
}
