.contato-wrapper {
  background-color: $primary-dark;
  padding-top: 64px;
  padding-bottom: 64px;
  color: $white;
  .content {
    margin-bottom: 48px;

    .title {
      font-family: $montserrat;
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 12px;
    }
    .subtitle {
      font-family: $montserrat;
      font-size: 24px;
      font-weight: bold;
      margin: 0 0 20px;
    }
  }
  form {
    position: relative;

    input {
      &.invalid {
        border: 1px $primary-red solid;
      }
      &.city {
        display: none;
      }
    }

    textarea {
      margin-bottom: 24px;
      height: 184px;
    }
    .button {
      width: 100%;
    }
    .form-modal {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: $white;
      max-width: 90%;
      width: 327px;
      padding: 32px 24px;
      box-sizing: border-box;
      border-radius: 6px;
      color: $primary-dark;
      text-align: center;
      z-index: 55;
      lottie-player {
        margin: 0 auto 32px;
      }
      .title {
        font-size: 16px;
        font-family: $inter;
        font-weight: 500;
        margin: 0 0 16px;
      }
      .description {
        font-family: $inter;
        font-size: 14px;
        margin: 0 0 56px;
      }
      .error-content {
        a {
          margin-top: 16px;
          color: $primary-dark;
          font-size: 14px;
          font-family: $inter;
        }
      }
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .contato-wrapper {
    display: flex;
    .content {
      width: 50%;
      padding-right: 136px;
      .title {
        font-size: 14px;
      }
      .subtitle {
        font-size: 32px;
      }
      .description {
        font-size: 18px;
      }
    }
    form {
      flex: 1;
    }
  }
}
