.consultoria-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  color: $primary-dark;
  .content {
    margin: 0 auto 64px;
    text-align: center;
    .title {
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;
      color: $light-brown;
      margin-bottom: 12px;
    }
    .subtitle {
      font-size: 24px;
      color: $primary-dark;
      font-weight: bold;
      margin: 0 0 20px;
      font-family: $montserrat;
    }
    .description {
      color: $primary-dark;
    }
  }
  .empresas-wrapper {
    display: flex;
    flex-wrap: wrap;
    > img,
    > picture {
      flex: 1 1 150px;
      height: 35px;
      object-fit: contain;
      margin: 0 11px 32px;
      mix-blend-mode: multiply;
    }
  }
  .depoimentos-wrapper {
    background-image: linear-gradient(
      rgba(245, 245, 245, 0),
      #f5f5f5,
      rgba(245, 245, 245, 0)
    );
    padding-top: 62px;
    padding-bottom: 72px;
    .depoimento-slide {
      box-sizing: border-box;
      padding: 24px 30px;
      background-color: $white;
      margin-right: 20px;
      &:last-child {
        margin-right: 0;
      }
      .content-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        svg {
          height: 16px;
          width: 17px;
          margin-bottom: 16px;
        }
        .depoimento {
          font-size: 14px;
          margin: 0 0 24px;
        }
        .nome {
          font-weight: 500;
          margin: auto 0 0;
        }
        .titulo {
          margin: 0;
          color: $light-brown;
        }
      }
    }
  }
  .button {
    margin: 0 auto;
  }
}

@media (min-width: $breakpoint-tablet) {
  .consultoria-wrapper {
    padding-top: 112px;
    padding-bottom: 111px;
    .content {
      margin-bottom: 96px;
      .title {
        font-size: 14px;
      }
      .subtitle {
        font-size: 32px;
      }
      .description {
        font-size: 18px;
      }
    }
    .empresas-wrapper {
      > img,
      > picture {
        height: 70px;
        margin: 0 30px 32px;
      }
    }
    .depoimentos-wrapper {
      .depoimento-slide {
        width: calc((100% - 96px) / 4);
        min-width: calc((100% - 96px) / 4);
        margin-right: 32px;
        &:nth-child(4n) {
          margin-right: 0;
        }
      }
    }
  }
}
