.cursos-wrapper {
  border-top: 1px solid $light-grey;
  padding-top: 64px;
  color: $primary-dark;
  .content,
  .content-cursos {
    margin-bottom: 48px;
    text-align: center;
    padding-top: 64px;
    padding-bottom: 64px;

    .title {
      font-family: $montserrat;
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;
      color: $light-brown;
      margin-bottom: 12px;
    }
    .subtitle {
      font-family: $montserrat;
      font-size: 24px;
      color: $primary-dark;
      font-weight: bold;
      margin: 0 0 20px;
    }
  }
  .content-cursos {
    &:nth-child(2) {
      padding-top: 0;
    }
    .content-wrapper {
      text-align: left;
      .subtitle {
        font-size: 20px;
      }
      > img,
      > picture {
        display: block;
        width: 335px;
        max-width: 100%;
        height: 250px;
        object-fit: contain;
        margin: 0 auto 20px;
      }
      .text {
        margin: 0 0 40px;
      }
      ul {
        margin-bottom: 54px;
        li {
          display: flex;
          &:not(:last-child) {
            margin-bottom: 32px;
          }
          svg {
            width: 48px;
            height: 48px;
            min-width: 48px;
            margin-right: 25px;
          }
          .lista-content {
            .title {
              font-family: $montserrat;
              color: $primary-dark;
              margin: 0 0 4px;
              font-weight: 700;
              font-size: 18px;
              text-transform: none;
            }
            .description {
              margin: 0;
            }
          }
        }
      }
      .button {
        margin: 0 auto;
      }
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .cursos-wrapper {
    .content,
    .content-cursos {
      .content-wrapper {
        .title {
          font-size: 14px;
        }
        .subtitle {
          font-size: 32px;
        }
      }
    }
    .content-cursos {
      display: flex;
      &:nth-child(odd) {
        flex-direction: row-reverse;
        .content-wrapper {
          padding-right: 0;
          padding-left: 87px;
        }
      }
      .content-wrapper {
        width: 50%;
        min-width: 50%;
        padding-right: 87px;
        box-sizing: border-box;
        .text {
          font-size: 18px;
        }
        .button {
          width: 100%;
        }
        > img,
        > picture {
          display: none;
        }
      }
      > img,
      > picture {
        width: 50%;
        max-width: 50%;
        height: 478px;
        object-fit: contain;
        align-self: center;
      }
    }
  }
}
