.home-hero {
  position: relative;
  height: 611px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 7;
    background-color: $black;
    opacity: 0.3;
  }
  video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 5;
    object-fit: cover;
  }
  .content {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
    z-index: 10;
    text-align: center;
    .title {
      margin-bottom: 20px;
      font-size: 32px;
      font-family: $montserrat;
    }
    .description {
      &:not(:last-child) {
        margin-bottom: 64px;
      }
    }
    .button {
      white-space: nowrap;
      margin: 0 auto;
      &.primary {
        margin-bottom: 12px;
      }
      &.secondary {
        display: flex;
        align-items: center;
        svg {
          margin-left: 8px;
          height: 24px;
          width: 24px;
        }
      }
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .home-hero {
    &::after {
      background-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.9) 11.76%,
        transparent 65%
      );
      background-color: transparent;
      opacity: 1;
    }
    .content {
      padding-right: 0;
      width: 40%;
      min-width: 40%;
      text-align: left;
      .title {
        font-size: 40px;
      }
      .description {
        font-size: 18px;
      }
      .buttons-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .button {
          margin-left: 0;
          font-size: 18px;
          margin: 0;
        }
      }
    }
  }
}
