.palestras-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: $primary-dark;
  color: $white;
  .content {
    text-align: center;
    margin: 0 auto 48px;
    text-align: center;
    .title {
      font-family: $montserrat;
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;
      margin-bottom: 12px;
    }
    .subtitle {
      font-family: $montserrat;
      font-size: 24px;
      font-weight: bold;
      margin: 0 0 20px;
    }
    iframe {
      max-width: 100%;
      height: 374px;
    }
  }
  .videos-wrapper {
    .title {
      font-size: 24px;
      font-weight: bold;
      margin: 0 0 32px;
      font-family: $montserrat;
    }
    .videos-carousel {
      .video-slide {
        padding: 10px;
        text-align: left;
        > img,
        > picture {
          width: 100%;
          height: 232px;
          object-fit: cover;
          margin: 0 auto 20px;
          border-radius: 6px;
          max-width: 100%;
        }
        .title {
          font-family: $montserrat;
          font-size: 20px;
          margin: 0 0 8px;
        }
        .description {
          font-size: 14px;
        }
        .link {
          font-size: 14px;
          color: $white;
          font-weight: 500;
        }
      }
    }
  }
}

@media(min-width: $breakpoint-tablet) {
  .palestras-wrapper {
    .content {
      .subtitle {
        margin-bottom: 71px;
      }
      iframe {
        width: 1216px;
        height: 485px;
      }
    }
    .videos-wrapper {
      .videos-carousel {
        .video-slide {
          padding: 15px;

          .title {
            font-size: 24px;
          }
          .description {
            font-size: 16px;
          }
          .link {
            font-size: 16px;
          }
        }
      }
    }
  }
}