.sobre-wrapper {
  padding-top: 64px;
  padding-bottom: 64px;
  .content {
    margin-bottom: 48px;

    .title {
      font-family: $montserrat;
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;
      color: $light-brown;
      margin-bottom: 12px;
    }
    .subtitle {
      font-family: $montserrat;
      font-size: 24px;
      color: $primary-dark;
      font-weight: bold;
      margin: 0 0 20px;
    }
    .description {
      color: $primary-dark;
    }
  }
  > img,
  > picture {
    display: block;
    width: 272px;
    height: 310px;
    margin: 0 auto 48px;
  }
  .premios-wrapper {
    .title {
      font-family: $montserrat;
      font-size: 24px;
      font-weight: bold;
      color: $primary-dark;
      margin: 0 0 32px;
    }
    .premios-carousel {
      .premio-slide {
        padding: 10px;
        > img,
        > picture {
          width: 100%;
          height: 275px;
          object-fit: cover;
          margin: 0 auto 20px;
          border-radius: 6px;
        }
        .title {
          font-family: $montserrat;

          font-size: 20px;
          margin: 0 0 8px;
        }
        .description {
          color: $primary-dark;
        }
      }
    }
  }
}

@media (min-width: $breakpoint-tablet) {
  .sobre-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    .content {
      width: 40%;
      min-width: 40%;
      padding-right: 150px;
      .title {
        font-size: 14px;
      }
      .subtitle {
        font-size: 32px;
      }
      .description {
        font-size: 18px;
      }
    }
    > img,
    > picture {
      width: 446px;
      height: 509px;
      margin-bottom: 0;
    }
    .premios-wrapper {
      flex: 1 0 100%;
      .premios-carousel {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        justify-content: flex-start;
        .premio-slide {
          width: calc(100% / 3);
          box-sizing: border-box;
          padding: 15px;
          > img,
          > picture {
            height: 275px;
          }
        }
      }
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .sobre-wrapper {
    display: flex;
    flex-wrap: wrap;
    .content {
      padding-right: 210px;
    }
  }
}
