.whatsapp-bubble {
  position: fixed;
  bottom: 15px;
  right: 15px;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  border-width: 2px !important;
  z-index: 60;
  transition: bottom 150ms linear;
  &.bottom {
    bottom: 140px;
  }
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    fill: $white;
  }
  &:hover {
    svg{
        fill: $primary-red;
    }
  }
}

@media(min-width: $breakpoint-tablet) {
    .whatsapp-bubble {
        bottom: 30px;
        right: 30px;
    }
}