@mixin sizes($height, $width) {
  @if $height != null {
    height: $height;
  }
  @if $width != null {
    width: $width;
  }
}

@mixin imageFit($fit) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: $fit;
}
