/* Colors: */
$white: #fff;
$black: #000;
$primary-dark: #231f20;
$primary-red: #c61017;
$light-brown: #8e8084;
$light-grey: #f5f5f5;
$dark-blue: #145ea3;

/* Breakpoints */
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1366px;
$breakpoint-desktop-wide: 1440px;

/* Font */
$font-path: "../../assets/fonts";
$montserrat: "Montserrat", sans-serif;
$inter: "Inter", sans-serif;
